<div class='footer-container full-bleed'>
  <div class='container'>
    <div class="footer row">
      <div style="margin: auto; display: block; text-align: center;">
        <img src="/img/codefortuscaloosa_white.png" alt="Code for Tuscaloosa logo" width="200px" />
        <br>
        <p>Built with  ♥  by <a href="http://codefortuscaloosa.org/" target="_blank" >Code for Tuscaloosa</a>
        <br>
        forked from a <a href="http://www.codeforraleigh.com/" target="_blank" >Code for Raleigh</a>
        <a href="https://github.com/CORaleigh/Visual-Town-Budget" target="_blank" >project</a></p>
      </div>
    </div>
  </div>
</div>
<script type='text/javascript'>
  activepath = window.location.pathname.substring(0);

  if(activepath.substring(activepath.length-1) == "/"){
    activepath = window.location.pathname.substring(0, window.location.pathname.length - 1);
  }

  if($(".dropdown-toggle[href='" + activepath 
   + "']").length){
    $(".dropdown-toggle[href='" + activepath 
   + "']").addClass('nav-active');  
  }
  else{
    activepath = "expenses";
      $(".dropdown-toggle[href='" + activepath 
   + "']").addClass('nav-active');  

  }
</script>
