<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>UA Budget Visualization</title>
    <meta name="description" content="An interactive tool to learn more about the budget of the University of Alabama." />
    
    {% include imports.html %}
    <script>
    $(document).ready(initialize);
    </script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="css/page.css" rel="stylesheet" type="text/css" />
  </head>
  <body class='show-me-the-money'>
    <div class='header-container'>
        {% include top-bar.html %}
    </div>

    {% include home.html %}
    {% include navbar.html %}
    {% include container.html %}
    {% include notes.html %}
    {% include treemap-template.html %}
    {% include card-template.html %}
    {% include table-header-template.html %}
    {% include row-template.html %}
    {% include dropdown-template.html %}

    <!-- Notify the user to upgrade their browser if they're using an old one. -->
    <script> 
    var $buoop = {c:2}; 
    function $buo_f(){ 
     var e = document.createElement("script"); 
     e.src = "//browser-update.org/update.js"; 
     document.body.appendChild(e);
    };
    try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
    catch(e){window.attachEvent("onload", $buo_f)}
    </script>     
    {% include footer.html %}
  </body>
</html>
